.header, .main, .footer {
  background-color: #071f4e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-item {
  display: flex;   
  color: white;
  border-bottom: 1px solid #fff;
  margin: 0px;
  padding: 5px 10px;
  background-color: #071f4e; 
}

.post-title {
  align-self: center;
  font-weight: 900;
  width: 40%;
}

.update-title, .delete-post, .titleText, .save, .cancel {
  width: 10%;
  background-color: #fff; 
  color: rgb(17, 62, 153);
  font-size: 1em;
  font-weight: 500;
  border-radius: 50px;
}

 input:placeholder-shown {
    font-style: italic;
 }

.update-title:hover, .delete-post:hover {
  background: #634db6;
  color: #ffe;
} 

.delete-post {
  margin-left: auto;
}